// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0

.pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
